@font-face {
  font-family: 'Brandon Grotesque';
  src: url('fonts/Brandon Grotesque/brandon grotesque thin italic.otf') format('opentype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Brandon Grotesque';
  src: url('fonts/Brandon Grotesque/brandon grotesque light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Brandon Grotesque';
  src: url('fonts/Brandon Grotesque/brandon grotesque light italic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Brandon Grotesque';
  src: url('fonts/Brandon Grotesque/brandon grotesque regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Brandon Grotesque';
  src: url('fonts/Brandon Grotesque/brandon grotesque regular italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Brandon Grotesque';
  src: url('fonts/Brandon Grotesque/brandon grotesque medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Brandon Grotesque';
  src: url('fonts/Brandon Grotesque/brandon grotesque medium italic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Brandon Grotesque';
  src: url('fonts/Brandon Grotesque/brandon grotesque bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Brandon Grotesque';
  src: url('fonts/Brandon Grotesque/brandon grotesque bold italic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Brandon Grotesque';
  src: url('fonts/Brandon Grotesque/brandon grotesque black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}
